{% extends "layout.html" %}
{% block content %}
    <div class="business-analytics">
        <h1>Welcome back, {{bzName.val()}}</h1>
        
        {% if analytics %}
            {% for a in analytics %}
                <div class="analytics-post">    
                    <h3 class="title">{{a.val().aPostName}}</h3>
                    <p class="content">{{a.val().aPostCont}}</p>
                </div>
            {% endfor %}
        {% else %}
                <div class="no-post">
                    <p>No analytics information available</p>
                </div>
        {% endif %}
        
    </div> 
{% endblock %}