{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/background.css') }}">
<div class="container">
    <h1 class="text-light col-xs-12 col-sm-6 col-md-8" style="font-size: 60px;">A new way for users to visit their favourite restaurants</h1>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" integrity="sha256-qM7QTJSlvtPSxVRjVWNM2OfTAz/3k5ovHOKmKXuYMO4=" crossorigin="anonymous"></script>
{% endblock %}