{% extends "businessLayout.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/practice.css') }}">
    {% if not current_user.get_business() %}
        <h1>Welcome to the shop, {{ current_user.get_username() }} !</h1>
    {% else %}
        <h1>Looking to manage your shop?</h1>
    {% endif %}

    <div class="jumbotron">

        {% if current_user.get_business() %}
        <form class="form-group" action="/business/items" method="post" style="width: 500px; margin: left">
            <label for="name" style="font-weight: bold;">Item name</label>
            <input type="text" name="name" class="form-control">
            <label for="price" style="font-weight: bold;">Item price </label>
            <input type="text" name="price" class="form-control">
            <label for="description" style="font-weight: bold;">Item description</label>
            <input type="text" name="description" class="form-control"><br>
            <button class="btn btn-primary" style="background-color: rgb(224, 96, 79); border:none;" type="submit" value="add">ADD ITEM</button>
        </form>
    </div>
    <div class="item-feed" style="margin-top: 10px">
        {% if items %}
            {% for i in items %}
                <div class="card" style="background-color: rgb(250, 209, 203);">    
                    <div class="card-body">
                        <div class="card-title"><h3>{{i.val().name}}</h3></div>
                        <div class="card-text"><p>{{i.val().price}}</p></div>
                        <div class="card-text"><p>{{i.val().description}}</p></div>
                        <div class="button-container"><button class="btn btn-primary" onclick="delete_post()" style="background-color: rgb(224, 96, 79); border:none;" value="delete">DELETE</button></div>
                        </div>
                    </div>

            {% endfor %}
        {% else %}
                <div class="no-post">
                    <p>No items available</p>
                </div>
        {% endif %}
        
    </div> 
{% endblock %}