{% extends "layout.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/practice.css') }}">
    <h1>{{bzName.val()}}</h1>

    <div class="item-feed">
        {% if items %}
            {% for i in items %}
                <div class="item-post">    
                    <div class="item-image"><img src = "images/apple.jpg" alt = ""></div>
                    <div class="item-title"><h3>{{i.val().name}}</h3></div>
                    <!--p class="item-price">{{i.val().price}}</p-->
                    <div class="item-content"><p>{{i.val().description}}</p></div>
                    <div class="button-container"><button class="add-cart" onclick="delete_post()">ADD TO CART</button></div>
                </div>
            {% endfor %}
        {% else %}
                <div class="no-post">
                    <p>{{bzName.val()}}'s items are empty.</p>
                </div>
        {% endif %}
        
    </div> 

    <button id="btnCheckout"></button>
{% endblock %}