{% extends "layout.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/practice.css') }}">
    <div class="business-post-feed">
        <h1>Welcome back, {{bzName.val()}}</h1>
        
        {% if bzPosts %}
            {% for bz in bzPosts %}
                <div class="business-post">    
                    <h3 class="post-title">{{bz.val().bzPostName}}</h3>
                    <p class="post-content">{{bz.val().bzPostContent}}</p>
                    <button class="delete-post" href="#">Delete</button>
                </div>
            {% endfor %}
        {% else %}
                <div class="no-post">
                    <p>No analytics information available</p>
                </div>
        {% endif %}
        
    </div> 
{% endblock %}

